/* Style global */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Conteneur du formulaire */
.login-wrap {
    background: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 920px;
    min-height: 100px;
    max-height: 90vh;
    overflow-y: auto;
}
.user-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%; /* Rond */
}


/* Icône utilisateur */
.icon {
    width: 80px;
    height: 80px;
    background: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto 15px;
}

.icon i {
    font-size: 32px;
}

/* Titre */
h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #222;
}








.login-form { 
    display:block;
    justify-content: space-between;
    gap: 10px;}

/* Champs de saisie + bouton de connexion */
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}




.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 25px;  /* 🔹 Réduction de la hauteur */
    font-size: 16px;
    padding: 8px;
    width: 200px;
    color: rgb(103, 101, 101);
    margin-bottom: 15px;
    background: #f8f9fa;
    text-align: left;
    transition: border-color 0.3s ease-in-out;
}
/* Style spécifique pour le champ rôle */
.form-control.select {
    width: 200px;
    height: 50px;
   
}


/* Bordure bleue quand l'input est sélectionné */
.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Bouton Login - même largeur que les inputs */
.btn-primary {
    background: #007bff;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    height: 48px; /* 🔹 Même hauteur que les inputs */
    width: 365px; /* 🔹 Même largeur que les inputs */
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    
}

.btn-primary:hover {
    background: #0056b3;
}

/* Checkbox + lien mot de passe */
.form-group{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    margin-top: 10px;
}
.selectt{
    margin-left: 2%;
}

.container-fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 colonnes */
    gap: 10px; /* Espacement entre les champs */
}

.form-group {
    display: flex;
    flex-direction: column;
}

/* Masquer les champs non visibles */
.form-group:empty {
    display: none;
}

  



